files:
   "/tmp/dynatrace-agent-6.5.0.1289-unix.zip":
      mode: "000755"
      owner: root
      group: root
      source: https://s3.amazonaws.com/rjahn-temp-s3/dynatrace-agent-6.5.0.1289-unix.zip

   "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_install_dynatrace.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
            #!/bin/bash
            if [ ! -d /opt/dynatrace-6.5 ]
            then
            #unzip_dynatrace
            sudo unzip -o /tmp/dynatrace-agent-6.5.0.1289-unix.zip -d /tmp
            #install_dynatrace in silent mode
            cd /opt
            sudo java -jar /tmp/dynatrace-agent-6.5.0.1289-unix.jar -y
            fi
  
commands:
    install_dynatrace:
       command: /opt/elasticbeanstalk/hooks/appdeploy/pre/99_install_dynatrace.sh
       cwd: /opt
       test: "[ -d /opt/dynatrace-6.5 ]"
