files:
   "/tmp/dynatrace-agent-7.0.0.2469-unix.jar":
      mode: "000755"
      owner: root
      group: root
      source: https://s3.amazonaws.com/joe.perf-demo.agent/dynatrace-agent-7.0.0.2469-unix.jar

   "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_install_dynatrace.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
            #!/bin/bash
            if [ ! -d /opt/dynatrace-7.0 ]
            then
            #install_dynatrace in silent mode
            cd /opt
            sudo java -jar /tmp/dynatrace-agent-7.0.0.2469-unix.jar -y
            fi
  
commands:
    install_dynatrace:
       command: /opt/elasticbeanstalk/hooks/appdeploy/pre/99_install_dynatrace.sh
       cwd: /opt
       test: "[ -d /opt/dynatrace-7.0 ]"
