commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
   "/opt/elasticbeanstalk/hooks/appdeploy/post/00expand-war.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
            #!/usr/bin/env bash
            for file in /var/lib/tomcat8/webapps/ROOT/*.war
            do
              echo unzipping $file
              sudo unzip -o $file -d /var/lib/tomcat8/webapps/ROOT/
            done
            true
