# the DT servername will need to be updated for you server
# if you use EC2 with no fixed domain then you also need to edit it after each stop/start of the instance

option_settings:
  - namespace:  aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name:  JVM Options
    value: -agentpath:/opt/dynatrace-7.0/agent/lib64/libdtagent.so=name=JavaApplication_Perf_Demo,server=54.208.176.7:9998
